bin/*
extension.zip

build
.gradle
.idea

.terraform*
terraform.*

.vscode/

.DS_Store
*.whl

.tox
__pycache__/*
.pyc
build.toml

*.zip
index.d.ts
index.d.ts.map
index.js
index.js.map
tsconfig.tsbuildinfo
