opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-distro==0.45b0
file:opentelemetry_instrumentation_aws_lambda-0.45b0-py3-none-any.whl
file:opentelemetry_instrumentation_botocore-0.45b0-py3-none-any.whl
setuptools==75.3.0
#file:opentelemetry_instrumentation_psycopg2-0.39b0.dev0-py3-none-any.whl
